.movies {
}

.movies__caption {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 58px;
  color: #ffffff;
  text-align: center;
  opacity: .5;
  margin: 0 auto;
}
