.movies {
}

.movies__caption {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  opacity: .7;
  margin:  20px;
  padding: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
